.searchBar{
    background-color: white;
    border-bottom: 1px solid lightgrey;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.logos {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 32px;
}

input {
    text-align: center;
}

.far {
    font-size: 2rem;
}