

.postWindow{
    border: 1px solid lightgrey;
    background-color: white;
    width: 600px;
    margin-bottom: 40px;
}

.userThumb {
    border-radius: 50%;
    height: 32px;
    margin: 10px;
}

.userTitle {
    display: flex;
    align-items: center;

}

.postImg {
    width: 100%;
}

.addComment {
    width: 100%;
}