.commentSection{
    width: 95%;
    margin: 0 auto;
}

.likeComment {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.likes {
    margin-bottom: 20px;
}

.comment {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.commentText {
    font-size: 1.4rem;
    margin-left: 8px;
}

.addComment {
    width: 100%;
    text-align: start;
    border: 0px;
    border-top: 1px solid lightgrey;
    padding: 10px 0;
    margin: 10px 0;
}